.rst-footer-buttons .fa-arrow-circle-left {
    margin-right: 5px;
}

.rst-footer-buttons .fa-arrow-circle-right {
    margin-left: 5px;
}

#notes {
	margin-top: 40px;
	margin-bottom: 40px;
}

.wy-breadcrumbs li.wy-breadcrumbs-aside {
    margin-top: -3px;
    margin-left: 10px;
}